In [2]:
import pandas as pd
import numpy as np
import os
from PIL import Image

In [3]:
save_path = '../dataset/CHD/id_image_29'

In [4]:
if not os.path.exists(save_path):
    os.makedirs(save_path)

In [5]:
data_root = '../dataset/CHD/preprocessed'

In [4]:
attacks = ['DoS', 'Fuzzy', 'gear', 'RPM']

In [6]:
def convert_one_id(cid):
    
    cid = bin(int(cid, 16))[2:].zfill(29)
    bits = list(map(int, list(cid)))
        
    res_ohv = np.array(bits).flatten()
        
    return res_ohv

In [41]:
for attack in attacks:
    
    print(f'Start converting {attack}...')
    
    attack_path = os.path.join(data_root, attack + '_dataset.csv')
    
    full_save_path = os.path.join(save_path, attack)
        
    if not os.path.exists(full_save_path):
        os.mkdir(full_save_path)
    
    data = pd.read_csv(attack_path, low_memory=False)
    
    img_num = 0
    
    for i in range(0, len(data), 29):
    
        data_in_range = data.iloc[i:i+29]
        id_in_range = data_in_range['ID']
        flag_in_range = data_in_range['Flag']

        if 'T' in flag_in_range.values:
            label = 1
        else:
            label = 0

        lines = []

        for one_id in id_in_range:

            line = convert_one_id(one_id)
            lines.append(line)

        lines = np.array(lines)
        one_img = np.vstack(lines)
        
        img = Image.fromarray(one_img.astype(np.uint8))
        img.save(os.path.join(full_save_path, f'{label}_{img_num}.png'))
        
        img_num += 1

        if img_num % 100000 == 0:
            print(f'{img_num}th data in process...')
            
    print(img_num, attack, 'images done converted')

Start converting DoS...
100000th data in process...
127482 DoS images done converted
Start converting Fuzzy...
100000th data in process...
132375 Fuzzy images done converted
Start converting gear...
100000th data in process...
153212 gear images done converted
Start converting RPM...
100000th data in process...
159370 RPM images done converted

In [5]:
for attack in attacks:
    
    under = os.listdir(os.path.join(save_path, attack))
    print(len(under), attack, 'images')
    
    for i in under:
        full = os.path.join(save_path, attack, i)
        img = Image.open(full)
        size = img.size
        
        if size[0] != 29 or size[1] != 29:
            print(full)
            
        img.close()

126406 DoS images
../dataset/CHD/id_image_29\DoS\0_126405.png
132375 Fuzzy images
../dataset/CHD/id_image_29\Fuzzy\0_132374.png
153212 gear images
../dataset/CHD/id_image_29\gear\0_153211.png
159370 RPM images
../dataset/CHD/id_image_29\RPM\0_159369.png

In [1]:
col_names = ['Timestamp', 'blank', 'ID', 'zero', 'DLC', 'Data']

In [8]:
normal_data = pd.read_csv('../dataset/CHD/normal_run_data.txt',
    sep='    ', engine='python', encoding='cp949', header=None,names=col_names)

In [9]:
normal_data

,Timestamp,blank,ID,zero,DLC,Data
0,Timestamp: 1479121434.850202,NaN,ID: 0350,0,DLC: 8,05 28 84 66 6d 00 00 a2
1,Timestamp: 1479121434.850423,NaN,ID: 02c0,0,DLC: 8,14 00 00 00 00 00 00 00
2,Timestamp: 1479121434.850977,NaN,ID: 0430,0,DLC: 8,00 00 00 00 00 00 00 00
3,Timestamp: 1479121434.851215,NaN,ID: 04b1,0,DLC: 8,00 00 00 00 00 00 00 00
4,Timestamp: 1479121434.851463,NaN,ID: 01f1,0,DLC: 8,00 00 00 00 00 00 00 00
...,...,...,...,...,...,...
988866,Timestamp: 1479121941.283900,NaN,ID: 02b0,0,DLC: 5,ac 05 0c 07 7f
988867,Timestamp: 1479121941.286087,NaN,ID: 0316,0,DLC: 8,05 38 10 0c 38 28 01 7a
988868,Timestamp: 1479121941.286310,NaN,ID: 018f,0,DLC: 8,fe 31 00 00 00 4b 00 00
988869,Timestamp: 1479121941.286533,NaN,ID: 0260,0,DLC: 8,32 38 39 30 ff 93 59 1c
988870,Timestamp: 1479121941.286773,NaN,ID: 02a0,0,DLC: 8,20 00 75 1d 01 04 dd 00

In [10]:
normal_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988871 entries, 0 to 988870
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Timestamp  988871 non-null  object
 1   blank      0 non-null       float64
 2   ID         988871 non-null  object
 3   zero       988871 non-null  int64
 4   DLC        988871 non-null  object
 5   Data       988871 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 45.3+ MB

In [11]:
def get_id_only(can):
    return can[-4:]

In [14]:
normal_data['ID'] = normal_data['ID'].apply(get_id_only)

In [15]:
normal_data

,Timestamp,blank,ID,zero,DLC,Data
0,Timestamp: 1479121434.850202,NaN,0350,0,DLC: 8,05 28 84 66 6d 00 00 a2
1,Timestamp: 1479121434.850423,NaN,02c0,0,DLC: 8,14 00 00 00 00 00 00 00
2,Timestamp: 1479121434.850977,NaN,0430,0,DLC: 8,00 00 00 00 00 00 00 00
3,Timestamp: 1479121434.851215,NaN,04b1,0,DLC: 8,00 00 00 00 00 00 00 00
4,Timestamp: 1479121434.851463,NaN,01f1,0,DLC: 8,00 00 00 00 00 00 00 00
...,...,...,...,...,...,...
988866,Timestamp: 1479121941.283900,NaN,02b0,0,DLC: 5,ac 05 0c 07 7f
988867,Timestamp: 1479121941.286087,NaN,0316,0,DLC: 8,05 38 10 0c 38 28 01 7a
988868,Timestamp: 1479121941.286310,NaN,018f,0,DLC: 8,fe 31 00 00 00 4b 00 00
988869,Timestamp: 1479121941.286533,NaN,0260,0,DLC: 8,32 38 39 30 ff 93 59 1c
988870,Timestamp: 1479121941.286773,NaN,02a0,0,DLC: 8,20 00 75 1d 01 04 dd 00

In [17]:
print(f'Start converting normal data...')

full_save_path = os.path.join(save_path, 'normal')

if not os.path.exists(full_save_path):
    os.mkdir(full_save_path)

img_num = 0

for i in range(0, len(normal_data), 29):

    data_in_range = normal_data.iloc[i:i+29]
    id_in_range = data_in_range['ID']

    lines = []

    for one_id in id_in_range:

        line = convert_one_id(one_id)
        lines.append(line)

    lines = np.array(lines)
    one_img = np.vstack(lines)

    img = Image.fromarray(one_img.astype(np.uint8))
    img.save(os.path.join(full_save_path, f'0_{img_num}.png'))

    img_num += 1

    if img_num % 100000 == 0:
        print(f'{img_num}th data in process...')

print(img_num, 'normal', 'images done converted')

Start converting normal data...
34099 normal images done converted

In [18]:
under = os.listdir(os.path.join(save_path, 'normal'))
print(len(under), 'normal', 'images')

for i in under:
    full = os.path.join(save_path, 'normal', i)
    img = Image.open(full)
    size = img.size

    if size[0] != 29 or size[1] != 29:
        print(full)

    img.close()

34099 normal images